.md,
.wp {
  .back-button {
    color: rgb(252, 252, 252) !important;
    size: 10px;
    font-weight: 400;
  }
}

.banner {
  min-height: 200px;
}
.banner_list span {
  font-weight: 400;
  color: #0b0b61;
}

.toolbar-background {
  //background: #0b0b613d;
  background-image: linear-gradient(to top, blue, #fff);
}

/*
.toolbar-title {
  color: white;
  font-size: 2rem;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
} */
